/* overrides — generuje tools/editor.html, needitovat rucne */
.bp-only-mobile-s{ display:none !important; }
.bp-only-mobile-l{ display:none !important; }
.bp-only-mobile-xl{ display:none !important; }
.bp-only-tablet-s{ display:none !important; }
.bp-only-tablet{ display:none !important; }
.bp-only-tablet-landscape{ display:none !important; }
.bp-only-laptop-s{ display:none !important; }
.bp-only-laptop{ display:none !important; }
.bp-only-desktop{ display:none !important; }
.bp-only-desktop-l{ display:none !important; }
.bp-only-desktop-xl{ display:none !important; }
@media (max-width:479px){
  .bp-only-mobile-s{ display:revert !important; }
  #hero > div.hero__bg2 > video.hero__video > source:nth-child(1){ translate:60px 30px !important; }
  #hero > div.hero__bg2 > video.hero__video > source:nth-child(2){ translate:60px 20px !important; }
  #hero > div.hero__bg2 > video.hero__video{ translate:0px -30px !important; height:426px !important; }
}
@media (min-width:480px) and (max-width:599px){
  .bp-only-mobile-l{ display:revert !important; }
  #hero > div.hero__bg2 > video.hero__video > source:nth-child(1){ translate:60px 30px !important; }
  #hero > div.hero__bg2 > video.hero__video > source:nth-child(2){ translate:60px 20px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:22px -3px !important; height:586px !important; }
}
@media (min-width:600px) and (max-width:767px){
  .bp-only-mobile-xl{ display:revert !important; }
  #hero > div.vhero__media > div.svetlo{ translate:20px -60px !important; height:772px !important; }
}
@media (min-width:768px) and (max-width:899px){
  .bp-only-tablet-s{ display:revert !important; }
  #hero > div.wrap.hero__inner{ height:378px !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:130px 60px !important; height:464px !important; }
  #hero > div.wrap.hero__inner > div.hero__content > div.hero__ctas > a.hero__ghost{ font-size:10px !important; }
  #hero > div.wrap.hero__inner > div.hero__content > div.hero__ctas > a.hero__btn > span.hero__btn-label{ font-size:10px !important; }
  #hero > div.wrap.hero__inner > div.hero__content > div.hero__ctas > a.hero__btn > span.hero__btn-arr{ font-size:13px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:190px 70px !important; width:797px !important; height:364px !important; }
}
@media (min-width:900px) and (max-width:1023px){
  .bp-only-tablet{ display:revert !important; }
  #hero > div.wrap.hero__inner{ height:378px !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:130px 60px !important; height:464px !important; }
  #hero > div.wrap.hero__inner > div.hero__content > div.hero__ctas > a.hero__ghost{ font-size:10px !important; }
  #hero > div.wrap.hero__inner > div.hero__content > div.hero__ctas > a.hero__btn > span.hero__btn-label{ font-size:10px !important; }
  #hero > div.wrap.hero__inner > div.hero__content > div.hero__ctas > a.hero__btn > span.hero__btn-arr{ font-size:13px !important; }
  #hero > div.vhero__media > div.svetlo > img.svetlo__vrstva{ width:1309px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:338px -106px !important; width:1064px !important; height:760px !important; }
  #hero > div.vhero__media > div.svetlo > img.svetlo__vrstva.svetlo__vrstva--zapnute{ width:1319px !important; }
}
@media (min-width:1024px) and (max-width:1199px){
  .bp-only-tablet-landscape{ display:revert !important; }
  #hero > div.wrap.hero__inner{ translate:0px 1px !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:149px 21px !important; height:457px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:50px -49px !important; width:892px !important; height:592px !important; }
  #hero > div.tech-hero__video > video.tech-hero__video-el{ translate:220px -100px !important; height:846px !important; }
  #hero > div.wrap.tech-hero__crumb > nav.drobcek{ translate:0px 60px !important; }
}
@media (min-width:1200px) and (max-width:1319px){
  .bp-only-laptop-s{ display:revert !important; }
  #hero > div.wrap.hero__inner{ height:690px !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:80px 0px !important; height:525px !important; }
  #hero > div.wrap.vhero__in{ translate:0px 2px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:110px 0px !important; width:1108px !important; height:756px !important; }
  #hero > div.tech-hero__video > video.tech-hero__video-el{ translate:410px 0px !important; }
}
@media (min-width:1320px) and (max-width:1439px){
  .bp-only-laptop{ display:revert !important; }
  #hero > div.wrap.hero__inner{ height:690px !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:80px 0px !important; height:525px !important; }
  #hero > div.wrap.vhero__in > h1.vhero__title.display{ translate:0px -9px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:160px 0px !important; width:1213px !important; height:796px !important; }
  #hero > div.tech-hero__video > video.tech-hero__video-el{ translate:410px 0px !important; }
}
@media (min-width:1440px) and (max-width:1679px){
  .bp-only-desktop{ display:revert !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:43px -4px !important; height:574px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:110px 0px !important; width:1315px !important; height:896px !important; }
  #hero > div.tech-hero__video > video.tech-hero__video-el{ translate:410px 0px !important; }
}
@media (min-width:1680px) and (max-width:1899px){
  .bp-only-desktop-l{ display:revert !important; }
  #hero > div.hero__bg2 > video.hero__video-d{ translate:43px -4px !important; height:574px !important; }
  #hero > div.vhero__media > div.svetlo{ translate:190px -20px !important; width:1636px !important; height:1064px !important; }
  #hero > div.tech-hero__video > video.tech-hero__video-el{ translate:410px 0px !important; }
}
@media (min-width:1900px){
  .bp-only-desktop-xl{ display:revert !important; }
  #hero > div.vhero__media > div.svetlo{ translate:10px 10px !important; width:1550px !important; height:979px !important; }
  #hero > div.tech-hero__video > video.tech-hero__video-el{ translate:410px 0px !important; }
}
